# Ignore node_modules directory
node_modules

# Ignore local build artifacts
.next
.qodo

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore
netlify.toml

# Ignore version control directories
.git