@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scaling - reduces overall application size to 90% */


@layer components {
  .card:hover {
      box-shadow: 0 0 15px #b8b8b8;
  }
}

@layer utilities {

  @keyframes fadeAndRoll {
    0% {
      transform: translateY(-200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeAndRoll-animation {
    animation: 0.5s fadeAndRoll;
  }
    
  @keyframes fadeIn {
    0% {
      opacity: 0;
      scale: 0.9;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  
  .fadeIn-animation {
    animation: 0.4s fadeIn;
  }

  .loading span:before {
    animation: dots 1s linear infinite;
    content: '';
  }

  @keyframes dots {
    0% {
      content: '.';
    }
    33.3% {
      content: '..';
    }
    66.6% {
      content: '...';
    }
    100% {
      content: '.';
    }
  }
}