@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .card:hover {
      box-shadow: 0 0 15px #b8b8b8;
  }
}

@layer utilities {
  .loading span:before {
    animation: dots 1s linear infinite;
    content: '';
  }

  @keyframes dots {
    0%, 20% {
      content: '.';
    }
    40% {
      content: '..';
    }
    60% {
      content: '...';
    }
    90%, 100% {
      content: '';
    }
  }
}